*{
  margin: 0;
  top: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(20, 20, 20);
  color: rgb(223, 209, 209);
  min-height: 100vh;
  width: 100%;
  padding: 10px 0;
}
input{
  height: 38px;
  border-radius: 5px;

  padding: 5px;
}
button{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;

  background-color: rgb(91, 9, 76);
  color: rgb(223, 209, 209);
}
button:hover{
  background-color: rgb(23, 23, 64);
}
.container_form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

th{
  padding: 5px;
  width: 150px;
}